.hint-label {
	display: inline-block;
	text-align: center;

	color: #EA638C;
	font-size: 1.75em;

	padding: .1em .3em;
}

/* display hint on hover, to let user know this is clickable */
.hint-label:focus, .hint-label:hover {
	opacity: 1;
	cursor: pointer;
}

/* user set hint so display it */
.hint-display-true {
	opacity: 1;
}

/* hide hint until set */
.hint-display-false {
	opacity: 0;
}
