.digit-selector-container {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);

	height: min-content;
	width: min-content;
}

.digit-container {
	height: 6em;
	width: 6em;

	background-color: #005377;
	opacity: 40%;

	margin: 0.2em;
	display: flex;
	align-items: center;
}

.digit-container:hover, .digit-container:active {
	opacity: 100%;
}

.digit-container > span {
	font-size: 4em;
	color: #EBEBEB;

	width: 100%;
	text-align: center;
}

.selected {
	opacity: 100%;
}


