body {
	margin: 0;
	background-color: #0A3446;
}

.content-container {
	height: inherit;
	width: inherit;
	/*	TODO: how to center the div but ensure shrinking the window does not hide parts of the the content */
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	justify-content: center;
	width: 100%;
}

.side-actions-container {
	display: flex;
	align-items: center;

	margin-left: 2em;
}
