.hint-label > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hint-label {
	position: relative;

	color: #EBEBEB;
	font-size: 1.25em;
}

/* display hint on hover, to let user know this is clickable */
.hint-label:focus, .hint-label:hover {
	opacity: 1;
	cursor: pointer;
}

/* user set hint so display it */
.hint-display-true {
	opacity: 100%;
}

/* hide hint until set */
.hint-display-false {
	opacity: 0%;
}
